
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.cart-icon::before {
  content: "🛒"; 
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}
.display-flex {
  display: flex;
  align-items: center;
}
.nav-bar{
    justify-content: space-between;
    
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 2rem;

}

.nav-logo{
    width: auto;
    height:5rem ;
}
.nav-items{

     list-style: none;
    
    gap: 3rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
   
}


/* banner */
.banner{
     max-width: 1140px;
    margin: 0 auto;
    padding: 2rem;
    justify-content: space-between;
    align-items: last baseline;
   

}
.banner-title{
    font-size: 60px;
    font-weight: bold;
}

.banner img {
    width:36rem ;
    height: 22rem;
  /* display: block; */
}
.banner-description{
    font-size: 22px;

}

/* font color */
.orange-color{
    color: rgba(233, 90, 8, 1);
}
.light-gray{
    color: rgba(0, 0, 0, 0.5);
}

.text-center{
  text-align: center;
}
.text-bold{
  font-weight: bold;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
}

/* card */
.card-title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 16px;
}

.add-card-button{
   background-color: rgba(233, 90, 8, 1); 
   color: white;
   padding: 1.5rem 3.1rem;
   border: none;


}
.sample-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width:16rem;
  height:30rem ; 
  gap:1rem; 
  border-radius: 8px;

  background-color: #fff;
  
}


.sample-card p,
.sample-card img{
  margin: 0;
  padding: 0;
  display: block; /* helpful for image */
}

.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1.3rem;
}

/* plant-lover */
.plant-lover-container{
  height: auto;
}
.plant-lover-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 22px;
}


.plant-lover{
  display: flex;
  margin-top:6rem ;
  justify-content: space-between;
  gap:5rem;
  align-items: center;
}
.plant-lover-title{

  font-weight: bold;
  font-size: 50px;
}
/* newsletter */
.join-section{
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  text-align: center;
  color: white;
 
 margin-top: 9rem;
 padding: 19rem 12.5rem;
}

.join-button{
   background-color: rgba(233, 90, 8, 1); 
   color: white;
   padding:  1.2rem 3.3rem;
   border: none;
}
.input-field{
    padding:  1.1rem 20rem 1.1rem 1rem;
}
.newsletter-title {
  font-weight: bold;
  font-size: 50px;
}
.newsletter-form{
display: flex;
gap: 0;
justify-content: center;
}

.plant-image-wrapper {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 250px;
  height: auto;
  z-index: 12;
}


/* latest deals  */
  .latest-deal-title{
    font-weight: bold;
    font-size: 50px;
  }
  .plant-deals{
   justify-content: space-between;
   margin-top: 5rem;
   
  }
  .bloom-and-ana{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;

  }

  .bloom-plant{
    background-image: url(../assets/deal-bloom.png);
     background-repeat: no-repeat;
    border-radius: 14px;
    width: 22.2rem;
    height: 12.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;
  }
  .ana-plant{
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
     border-radius: 14px;
    width: 22.2rem;
    height: 12.2rem;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;
  }
  
  .zabo-plant{
    background-image: url(../assets/deal-zabo.png);
     background-repeat: no-repeat;
     border-radius: 14px;
    width:  45rem;
    height:  25rem;
     
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    
  }
 
  .latest-deal-description{
    font-size: 22px;
    
  }
  .latest-deal a{
    color: #fff;
  }
  .plant-style1{
    font-weight: bold;
    font-size: 40px;
  }
  .plant-style2{
    font-weight: bold;
    font-size: 20px;
  }
 .plant-substyle2{
      font-weight: 500;
      font-size: 16px;
  }
  .plant-sub-style{
      font-weight: 500;
      font-size: 28px;
  }
  


/* footer */
.footer-section{
  justify-content: space-between;
  margin: 3rem 7rem;
  align-items: flex-start;
  max-width: 1120px;
  max-height: 248px;


}
.footer-part1{
   max-width: 23rch;
   max-height: 11rem;

}
.footer-part2 ,.footer-part3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5;
}
.footer-part4{
  justify-content: space-between;
  gap:1rem;
}
button:hover{
 background-color: rgb(243, 201, 147);
}


/* responsive */
@media screen and (max-width: 576px){
    .nav-items li:not(:last-child){
        display: none;
    }
    .nav-bar{
        max-width: 100%;
       

    }
      .banner {
    flex-direction: column-reverse;
    
    align-items: center;
    padding: 0px;
  }

  .banner img {
    width: 100%;
   margin-bottom:28px ;
    height: auto;
  }
   .sample-card {
    width: 100%; 
    max-width: 11rem; 
    height: auto;
  }
  .cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:1.2rem;
  justify-content: center;
  
   
}
.add-card-button{
   background-color: rgba(233, 90, 8, 1); 
   color: white;
   padding: 1rem 3.1rem;
   border: none;


}
.plant-lover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 0;
  gap:1rem;
}
.plant-lover-image{
  width: 100%;
  margin-top: 0;
}

.container {
    max-width: 100%;
    margin: 0 0.5rem;   
    padding: 0.5rem 0; 
  }



  .join-section {
    padding: 6rem 1rem;
    margin-top: 4rem;
  }

  .newsletter-title {
    font-size: 30px;
  }

  .input-field {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  .join-button {
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
  }

  .newsletter-form {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  
  .footer-section{
    
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 2rem 0;


}
.plant-deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.bloom-plant,
.ana-plant,
.zabo-plant {
  width: 22rem;        
  height: 12.2rem;    
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;     
  text-align: center;      
  color: aliceblue;
  text-decoration: none;
}


.plant-style1,
.plant-style2,
.plant-substyle2,
.plant-sub-style {
  text-align: center;
  width: 100%;
}

.plant-style1{
    font-weight: bold;
    font-size: 20px;
  }
 .plant-sub-style{
      font-weight: 500;
      font-size: 16px;
  }

 .badge{
  display: none;
 }
}


